# Base de datos PostgreSQL (Supabase)
DATABASE_URL="postgresql://postgres.eamkhdovoldpkvbxebsp:[YOUR-PASSWORD]@aws-1-us-east-2.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Admin - Credenciales
ADMIN_USER=Fabricio
ADMIN_PASSWORD=Makalle2026

# Para producción:
# ADMIN_PASSWORD_HASH=$2a$10$/ikWWLEPvlqsRyctqn.O5.Jg7/wK2nngvRMqDuprru14Kv/aa6h36

# JWT Secret (generar uno random largo)
JWT_SECRET=ejemplo156151856451dsfsdngkjnsdlfkmf84sdflknsf

# URL de la app
NEXT_PUBLIC_APP_URL=http://localhost:3000/
